<div class="jumbotron">
  <h1>About Pin Basscoast! </h1>  
  <h3>Photo Sharing Portal </h3>
  <p>Pin Basscoast is a creative experiment in sharing.</p>
  <p>We all have tight communities on other social networks but this means some of our best content is locked away from our greater community.</p>
  <p>There is no better example of the greater community than the shared experience of a festival</p>
<p>Bascoast is a magical place of healing, celebration, laughter and fun.</p>
<p>There are more great memories and expeirneces than one can capture, but collectively We can create a collage that tell the story and helps us connect to those magic momemts</p>
<p>I hope you can share a few photos and add to this growing story</p>
<p>Your Truely. The full time optimist</p>
  <p>Discover the best pictures from the magical basscoast music festival. </p>
  <p>Upload and share your best memories</p>
  <p> Build wth love by the full time optimist<p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Share</a> &nbsp; <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a></p>
</div>